<div class="modal-header">
    <h3 class="modal-title">Pending requests</h3>
</div>
<div class="modal-body">
    <p ng-show="requestors.length === 0">This board has no pending requests.</p>
    <ul class="list-unstyled modal-list">
        <li class="model-list-item" ng-repeat="requestor in requestors">
            <img src="/images/user-avatar/{{requestor.userAvatarId}}.png" alt="user avatar" height="40px"/>
            <a ng-href="#/users/{{requestor.userid}}">{{requestor.username}}</a>
            <button class="btn btn-danger btn-sm pull-right" ng-click="denyRequest(requestor)">Deny</button>
            <button class="btn btn-primary btn-sm pull-right" ng-click="approveRequest(requestor)">Accept</button>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="done()">Done</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
