<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="userDAO" class="edu.sjsu.cmpe275.team6.SnippetShare.dao.JpaUserDAO">
              <property name="entityManagerFactory" ref="myEmf" />
       </bean>
    <bean id="boardDAO" class="edu.sjsu.cmpe275.team6.SnippetShare.dao.JpaBoardDAO">
        <property name="entityManagerFactory" ref="myEmf" />
    </bean>
</beans>