
<!--fox-angular-scrollReveal.js settings-->
<div class="landing" data-sr-container='{"reset":true, "mobile": false, "vFactor": 0.2}'>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <br/>
            <br/>
            <br/>
            <br/>
            <h2 data-sr="enter top over 1.1s">Share your code everywhere</h2>
            <h2 data-sr="enter bottom over 1.5s">in a beautiful way</h2>
            <br/>
            <a href="#/signup" class="btn btn-success">Start SnippetShare</a>
            <br/>
            <br/>
            <img src="/images/banner.png" alt="" width="700px"/>
        </div>
    </header>

    <div class="container bg-blue">
        <div class="content">
            <h6 class="upperhead" data-sr="enter top over 1.33s">What We Provide</h6>
            <br/>
            <br/>

            <div class="row">
                <div class="col-sm-4">
                    <div class="step"  data-sr="enter left and move 50px over 1.5s">
                        <img class="pannelIcon" src="/images/flat-icons/Clipboard.png" height="80" alt=""/>
                        <h3>Edit</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="step" data-sr="enter bottom and move 80px over 1.6s">
                        <img class="pannelIcon" src="/images/flat-icons/Pensils.png" height="80" alt=""/>
                        <h3>Share</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="step" data-sr="enter right and move 40px over 1.8s">
                        <img class="pannelIcon" src="/images/flat-icons/Retina-Ready.png" height="80" alt=""/>
                        <h3>Comments</h3>
                    </div>
                </div>

                <span class="step-alignment"></span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <h6 class="upperhead" data-sr="enter top over 1.33s">What people saying</h6>
            <br/>
            <br/>

            <div class="col-sm-12" data-sr="enter top and move 50px over 1.5s">
                <blockquote>
                    <p>@SnippetShare is a useful tool for developers.</p>
                    <small>Software engineer at <cite title="Source Title">Google</cite></small>
                </blockquote>
            </div>

            <div class="col-sm-12" data-sr="enter left and move 80px over 1.2s">
                <blockquote class="pull-right">
                    <p>Really enjoying @SnippetShare for my code and misc snippets..</p>
                    <small>Web developer at <cite title="Source Title">LinkedIn</cite></small>
                </blockquote>
            </div>

            <div class="col-sm-12" data-sr="enter right and move 60px over 1.5s">
                <blockquote>
                    <p>Enjoying @SnippetShare - a new Chrome app for managing your code.</p>
                    <small>Full-stack engineer at <cite title="Source Title">Facebook</cite></small>
                </blockquote>
            </div>

            <div class="col-sm-12" data-sr="enter bottom and move 60px over 1.5s">
                <blockquote class="pull-right">
                    <p>I really like the share and comments codes with my firends.</p>
                    <small>Software engineer at <cite title="Source Title">Amazon</cite></small>
                </blockquote>
            </div>
            <br/>
            <br/>

        </div>
    </div>

</div>