<div class="container-fluid">
    <h4>Snippet Details</h4>

    <div class="well">
        <div class="row">
            <div class="col-sm-10">
                <!--<h5 class="contenct-inline">-->
                    <!--<span class="label label-warning">{{snippet.category}}</span>-->
                    <!--<span ng-show="!snippet.isPublic" class="glyphicon glyphicon-lock" aria-hidden="true"></span>-->
                <!--</h5>-->
                <h3 class="contenct-inline">{{snippet.title}}</h3>

                <!--show only when current user == owner-->
                <a class="btn btn-success btn-sm" ng-show="snippet.author.userid === User.currentUser.userid" ng-href="#/boards/{{snippet.board.bid}}/editSnippets/{{snippet.sid}}">Edit
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>

                <button class="btn btn-danger btn-sm" ng-show="snippet.author.userid === User.currentUser.userid" ng-click="onClickDeleteSnippet()" ng-disabled="isDeleting">
                    {{isDeleting ? 'deleting...' : 'Delete'}}
                </button>

                <div class="">
                    <h5><span class="label label-warning">Created At:</span>
                        {{snippet.createdAt | date:'medium'}}
                    </h5>
                    <h5><span class="label label-warning">Update At:</span>
                        {{snippet.updateAt | date:'medium'}}
                    </h5>
                </div>


                <!--snippet content with ui.ace editor-->
                <section ng-controller="AceCtrl">

                    <div class="row">
                        <div class="col-xs-3">
                            Language: <select class="form-control height25" ng-model="snippet.language" ng-options="m for m in modes" ng-change="modeChanged()" disabled="disabled"></select>
                        </div>
                        <div class="col-xs-3">
                            Theme: <select class="form-control height25" ng-model="theme" ng-options="t for t in themes" ng-change="themeChanged()" disabled="disabled"></select>
                        </div>
                    </div>

                    <br/>

                    <!--<div ui-ace="aceOption" readonly>{{snippet.content}}</div>-->
                    <div ui-ace="aceOption" ng-model="snippet.content" readonly></div>

                </section>

            </div>

            <div class="col-sm-2 text-center">
                <h4><span class="label label-info">Author</span></h4>
                <img src="/images/user-avatar/{{snippet.author.userAvatarId}}.png" alt="user avatar" height="60px"/>
                <h5 class="margin-top-zero"><a ng-href="#/users/{{snippet.author.userid}}">{{snippet.author.username}}</a></h5>
            </div>

        </div>
    </div>

    <div class="container">

        <!--use model for add comment-->
        <button class="btn btn-info btn-md pull-right" ng-click="onClickAddComment()" >Leave A Comment</button>
        <h3>Comments</h3>

        <div >
            <div class="well" ng-repeat="comment in snippet.comments" >

                <div class="row">
                    <div class="col-xs-2 text-center">
                        <img src="/images/user-avatar/{{comment.user.userAvatarId}}.png" alt="user avatar" height="40px"/>
                        <h5 class="margin-top-zero"><a ng-href="#/users/{{comment.user.userid}}">{{comment.user.username}}</a></h5>
                    </div>

                    <div class="col-xs-10">
                        <div class="pull-right">
                            <span class="label label-warning">Created At: </span> <span>{{comment.createAt}}</span>

                            <button class="btn btn-danger btn-sm comment-delete-btn" ng-show="User.currentUser.userid === snippet.author.userid || User.currentUser.userid === comment.user.userid" ng-click="onClickDeleteComment(comment)">
                                delete
                            </button>
                        </div>
                        <div class="">
                            <h5>{{comment.content}}</h5>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>



</div>
