body {
    /*background-color: lightgrey;*/
}

.list-unstyled li{
    padding-left: 0;
    list-style: none;
    float: left;
    margin-right: 20px;
}

/*.navbar {*/
    /*font-size: 15px;*/
/*}*/

/*.navbar-brand {*/
    /*font-size: 20px;*/
/*}*/

.board-list {
    float: left;
    width: 180px;
    height: 150px;
    margin: 20px;
}