<div class="container">
    <h3>Browse All Boards & Users</h3>

    <div class="container-fluid">

        <div class="container">
            <div class="row">
                <div class="col-md-6 form-inline">
                    <div class="form-group">
                        <label for="searchTitle" class="form-control-static">Search Board:</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="title"  id="searchTitle" placeholder="Board Title" ng-model="filterParams.title" />
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <div class="form-group">
                        <label for="username" class="form-control-static">Search User:</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="username"  id="username" placeholder="Username" ng-model="filterParams.username" />
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <br/>

        <tabset>
            <tab ng-repeat="category in categories" heading="{{category}}">
                <div class="well" ng-repeat="user in users | hasCategory: category | filterUserByName: filterParams.username">

                    <div class="row">
                        <div class="col-xs-2 text-center">
                            <img src="/images/user-avatar/{{user.userAvatarId}}.png" alt="user avatar" height="60px"/>
                            <h5 class="margin-top-zero"><a ng-href="#/users/{{user.userid}}">{{user.username}}</a></h5>
                        </div>

                        <div class="col-xs-10">
                            <div class="well board-list board-list-small" ng-repeat="board in user.boards
                            | filterByCategory:category | filterBoardByTitle: filterParams.title
                            | orderBy: 'board.createdAt'"
                                 ng-mouseenter="hover(board)" ng-mouseleave="hover(board)">

                                <h5 class="board-info">
                                    <span class="label label-warning pull-right">{{board.category}}</span>
                                    <span ng-show="!board.isPublic && Board.isReadableTo(board, User.currentUser)" class="glyphicon glyphicon-eye-open pull-right" aria-hidden="true"></span>
                                    <span ng-show="!board.isPublic" class="glyphicon glyphicon-lock pull-right" aria-hidden="true"></span>
                                </h5>

                                <!--if board is private , don't show link, show request botton when hover-->
                                <a ng-href="#/users/{{user.userid}}/boards/{{board.bid}}"><h4>{{board.title}}</h4></a>

                                <!--hover to show description-->
                                <!--<h5 ng-show="board.showDesc">{{board.description}}</h5>-->
                                <h5 class="board-desc">{{board.description | limitChar:15}}</h5>

                                <button type="button" class="btn btn-primary btn-xs center-block request-btn" ng-show="User.currentUser && board.showDesc && !Board.isReadableTo(board, User.currentUser) && !Board.hasRequestor(board, User.currentUser)" ng-click="onClickRequest(board, user)">Request Access</button>
                                <button type="button" class="btn btn-primary btn-xs center-block request-btn" ng-show="User.currentUser && !Board.isReadableTo(board, User.currentUser) && Board.hasRequestor(board, User.currentUser)" disabled="disabled">Request has been sent</button>

                            </div>
                        </div>

                    </div>

                </div>

            </tab>
        </tabset>

    </div>

</div>
