<div class="container-fluid">

    <div class="well">
        <div class="row">
            <div class="col-xs-2">
                <img src="/snippetshare/images/user-avatar/{{user.userAvatarId}}.png" alt="user avatar" height="80px" class="pull-right"/>
            </div>

            <div class="col-xs-10">
                <div class="row">
                    <label class="col-sm-2 align-right text-success text-bold">Name:</label>
                    <p class="col-md-10"> {{user.username}} </p>
                </div>
                <div class="row">
                    <label class="col-sm-2 align-right text-success text-bold">Email:</label>
                    <p class="col-md-10"> {{user.email}} </p>
                </div>
                <div class="row">
                    <label class="col-sm-2 align-right text-success text-bold">Description:</label>
                    <p class="col-md-10"> {{user.profilepic}} </p>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid">
        <div>
            <h3>My Boards</h3>

            <tabset>
                <tab heading="All">
                    <div class="jumbotron board-list">
                        <!--ng-click event for create a new board-->
                        <a class="btn btn-warning" href="">New Board</a>
                    </div>

                    <div class="well board-list" ng-repeat="board in user.boards |orderBy:'board.createdAt'"
                         ng-mouseenter="hover(board)" ng-mouseleave="hover(board)">

                        <h4 class="pull-right">
                            <span class="label label-warning pull-right">{{board.category}}</span>
                              <span ng-show="!board.isPublic" class="glyphicon glyphicon-lock pull-right" aria-hidden="true"></span>
                        </h4>
                        <a ng-href="#/boards/{{board.bid}}"><h3>{{board.title}}</h3></a>

                        <!--hover to show description-->
                        <!--<h5 ng-show="board.showDesc">{{board.description}}</h5>-->
                        <h5 class="board-desc">{{board.description | limit55char}}</h5>

                        <div class="align-bottom">
                            <div class="col-xs-6">
                                <h6 class="text-info">
                                    Snippets <span class="badge badge-info">{{board.numOfSnippets}}</span>
                                </h6>
                            </div>
                            <div class="col-xs-6">
                                <h6 class="text-danger pull-right" ng-show="board.requestors.length !=0">
                                    Requests <span class="badge badge-danger">{{board.requestors.length}}</span>
                                </h6>
                            </div>
                        </div>

                    </div>
                </tab>

                <tab ng-repeat="category in categories" heading="{{category}}">
                    <div class="jumbotron board-list">
                        <!--ng-click event for create a new board-->
                        <a class="btn btn-warning" href="">New Board</a>
                    </div>
                    <div class="well board-list" ng-repeat="board in user.boards | filterByCategory:category | orderBy: 'board.createdAt'"
                         ng-mouseenter="hover(board)" ng-mouseleave="hover(board)">

                        <h4 class="pull-right">
                            <span class="label label-warning pull-right">{{board.category}}</span>
                            <span ng-show="!board.isPublic" class="glyphicon glyphicon-lock pull-right" aria-hidden="true"></span>
                        </h4>
                        <a ng-href="#/boards/{{board.bid}}"><h3>{{board.title}}</h3></a>

                        <!--hover to show description-->
                        <!--<h5 ng-show="board.showDesc">{{board.description}}</h5>-->
                        <h5 class="board-desc">{{board.description}}</h5>

                        <div class="align-bottom">
                            <div class="col-xs-6">
                                <h6 class="text-info">
                                    Snippets <span class="badge badge-info">{{board.numOfSnippets}}</span>
                                </h6>
                            </div>
                            <div class="col-xs-6">
                                <h6 class="text-danger pull-right" ng-show="board.requestors.length !=0">
                                    Requests <span class="badge badge-danger">{{board.requestors.length}}</span>
                                </h6>
                            </div>
                        </div>

                    </div>
                </tab>
            </tabset>

        </div>
    </div>
</div>

