<div class="container-fluid" ng-hide="!user">

    <div class="well">
        <div class="row">
            <div class="col-xs-2">
                <img src="/images/user-avatar/{{user.userAvatarId}}.png" alt="user avatar" height="80px" class="pull-right"/>
            </div>

            <div class="col-xs-10">
                <div class="row">
                    <label class="col-sm-2 align-right text-success text-bold">Name:</label>
                    <p class="col-md-10"> {{user.username}} </p>
                </div>
                <div class="row">
                    <label class="col-sm-2 align-right text-success text-bold">Email:</label>
                    <p class="col-md-10"> {{user.email}} </p>
                </div>
                <div class="row">
                    <label class="col-sm-2 align-right text-success text-bold">Description:</label>
                    <p class="col-md-10"> {{user.aboutMe}} </p>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid">
        <div>
            <h3>My Boards</h3>

            <div class="container">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="searchTitle" class="form-control-static">Search Board:</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="title"  id="searchTitle" placeholder="Board Title" ng-model="filterParams.title" />
                    </div>
                </form>
            </div>

            <br/>
            <br/>

            <tabset>

                <tab ng-repeat="category in categories" heading="{{category}}">
                    <div class="jumbotron board-list" ng-show="User.currentUser && User.currentUser.userid === user.userid"> <!--ng-click event for create a new board-->
                        <a class="btn btn-warning" href="#/users/{{user.userid}}/createboards">New Board</a>
                    </div>
                    <div class="well board-list" ng-repeat="board in user.boards | filterByCategory:category | filterBoardByTitle: filterParams.title | orderBy: 'board.createdAt'"
                         ng-mouseenter="hover(board)" ng-mouseleave="hover(board)">

                        <h5 class="pull-right board-info">
                            <span class="label label-warning pull-right">{{board.category}}</span>
                            <span ng-show="!board.isPublic && Board.isReadableTo(board, User.currentUser)" class="glyphicon glyphicon-eye-open pull-right" aria-hidden="true"></span>
                            <span ng-show="!board.isPublic" class="glyphicon glyphicon-lock pull-right" aria-hidden="true"></span>


                        </h5>

                        <!--if board is private , don't show link, show request botton when hover-->
                        <a ng-href="#/users/{{user.userid}}/boards/{{board.bid}}"><h4>{{board.title}}</h4></a>

                        <!--hover to show description-->
                        <!--<h5 ng-show="board.showDesc">{{board.description}}</h5>-->
                        <h5 class="board-desc">{{board.description | limitChar:55}}</h5>

                        <div class="align-bottom">
                            <div class="col-xs-6">
                                <h6 class="text-info">
                                    Snippets <span class="badge badge-info">{{board.numberOfSnippets && board.numberOfSnippets || "0"}}</span>
                                </h6>
                            </div>
                            <div class="col-xs-6">
                                <h6 class="text-danger pull-right" ng-show="!board.isPublic && board.ownerId === User.currentUser.userid">
                                    Requests <span class="badge badge-danger">{{board.requestors.length && board.requestors.length || "0"}}</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>

        </div>
    </div>
</div>

