<div class="container-fluid">
    <h4>Boards index</h4>

    <div class="jumbotron board-list">
        <a class="btn btn-primary" href="">New</a>
    </div>

    <div class="jumbotron board-list">
        <h4>Boards list</h4>
        <a ng-repeat="board in boards" ng-href="#/boards/{{board.id}}">
            <div class="well">
                <h3>{{board.id}}</h3>
                <h4>{{board.name}}</h4>
            </div>
        </a>
    </div>

    <div class="jumbotron board-list">
        <h4>Boards list</h4>
        <a ng-repeat="board in boards" ng-href="#/boards/{{board.id}}">
            <div class="well">
                <h3>{{board.id}}</h3>
                <h4>{{board.name}}</h4>
            </div>
        </a>
    </div>

    <div class="jumbotron board-list">
        <h4>Boards list</h4>
        <a ng-repeat="board in boards" ng-href="#/boards/{{board.id}}">
            <div class="well">
                <h3>{{board.id}}</h3>
                <h4>{{board.name}}</h4>
            </div>
        </a>
    </div>

    <div class="jumbotron board-list">
        <h4>Boards list</h4>
        <a ng-repeat="board in boards" ng-href="#/boards/{{board.id}}">
            <div class="well">
                <h3>{{board.id}}</h3>
                <h4>{{board.name}}</h4>
            </div>
        </a>
    </div>

    <div class="jumbotron board-list">
        <h4>Boards list</h4>
        <a ng-repeat="board in boards" ng-href="#/boards/{{board.id}}">
            <div class="well">
                <h3>{{board.id}}</h3>
                <h4>{{board.name}}</h4>
            </div>
        </a>
    </div>

    <div class="jumbotron board-list">
        <h4>Boards list</h4>
        <a ng-repeat="board in boards" ng-href="#/boards/{{board.id}}">
            <div class="well">
                <h3>{{board.id}}</h3>
                <h4>{{board.name}}</h4>
            </div>
        </a>
    </div>
</div>
